.hero_first {
  display: flex;
  height: 600px;
}

.hero_text {
  flex: 1;
  background-color: #f2ece1;
  color: #3c423b;
  text-align: center;
}

.hero_text h1 {
  margin: 60px 20px;
}

.hero_text p {
  padding: 4px 40px;
}

.hero_img {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.hero_img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.glamping_text {
  text-align: center;
  background-color: #909a90;
  color: #ffffff;
  height: 400px;
}

.glamping_text h1 {
  padding-top: 40px;
}

.glamping_text p {
  padding: 40px 40px;
}

img {
  max-width: 100%;
}
