.hero_first {
  display: flex;
}

.hero_text {
  flex: 1;
  background-color: #f2ece1;
  color: #3c423b;
  text-align: center;
}

.hero_text h1 {
  margin: 60px 20px;
}

.hero_text p {
  padding: 10px 40px;
}

.hero_img {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.hero_img img {
  object-fit: cover;
}

.glamping_text {
  text-align: center;
  background-color: #909a90;
  color: #ffffff;
  height: 400px;
}

.glamping_text h1 {
  padding-top: 40px;
}

.glamping_text p {
  padding: 40px 40px;
}

img {
  max-width: 100%;
  max-width: 100%;
  margin: 0;
}

.sustainability_text {
  display: flex;
  background-color: #ffffff;
  color: #3c423b;
}

.sustainability_text h1 {
  padding-top: 40px;
}

.sustainability_text p {
  padding: 40px 40px;
}

.sustainability_left {
  flex: 1;
  text-align: center;
  padding: 0 60px;
}

.sustainability_right {
  flex: 1;
  align-items: center;
}

.chapter_one {
  display: flex;
}

.chapter_one svg {
  flex: 1;
  align-self: center;
}

.chapter_one p {
  flex: 4;
}

.chapter_two {
  display: flex;
}

.chapter_two svg {
  flex: 1;
  align-self: center;
}

.chapter_two p {
  flex: 4;
}

.chapter_three {
  display: flex;
}

.chapter_three svg {
  flex: 1;
  align-self: center;
}

.chapter_three p {
  flex: 4;
}

.keho_mieli {
  text-align: center;
  background-color: #f2ece1;
  color: #3c423b;
  height: 300px;
}

.keho_mieli h1 {
  padding-top: 40px;
}

.keho_mieli p {
  padding: 40px 40px;
}
